#randomPassGenWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 0;

    // GRADIENT BACKGROUND START 
        background: linear-gradient(236deg, #000d81, #000000);
        background-size: 400% 400%;
        -webkit-animation: AnimationName 31s ease infinite;
        -moz-animation: AnimationName 31s ease infinite;
        -o-animation: AnimationName 31s ease infinite;
        animation: AnimationName 31s ease infinite;

        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 51%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 51%}
            100%{background-position:0% 50%}
        }
        @-o-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 51%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 51%}
            100%{background-position:0% 50%}
        }
    // GRADIENT BACKGROUND END 

    #componentHeader {
        color: white;
        display: flex;
        gap: 1rem;
        text-align: center;
        flex-direction: column;

        #mainTitle {
            font-size: 2rem;
            font-weight: 100;
            text-transform: uppercase;
        }

        #developerName{
            font-size: .9rem;
            font-weight: 100;

            img{
                height: 1.5rem;
                position: absolute;
                padding-left: 0.5rem;
                cursor: pointer;
            }
        }
    }


    #applicationWrapper{
        height: 36rem;
        width: 62rem;
        max-width: 90vh;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        background: white;
        border-radius: 7px;
        box-shadow: 0px 4px 10px 5px #00000066;
        overflow: auto;

        #configurationWrapper {
            display: flex;
            gap: 2rem;

            #settings {
                display: flex;
                flex-direction: column;
                flex: 5;
    
    
                #sizeSliderWrapper, #toggleSlidersWrapper {
    
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 2rem;
    
                    .stepHeader {
                        font-size: 1.2rem;
                        font-weight: 400;
                    }
                }
    
                #sizeSliderWrapper {
                    #sliderWrapper{
                        display: flex;

                        .mat-slider {   
                            width: 70%;
                        }

                        #currentSize {
                            margin-left: auto;
                            margin: auto;
                            background: #000d81;
                            height: 2rem;
                            width: 2rem;
                            border-radius: 50%;
                            text-align: center;
                            color: white;
                            display: flex;
                            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

                            span {
                                margin: auto;
                            }
                        }
                    }                    
                }
    
                #toggleSlidersWrapper {
    
                    
                    #configurations {
                        form {
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            font-size: 1rem;
                        }
                    }
                }
            }

            #illustrationWrapper {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                flex: 3;
    
                img {
                    height: 12rem;
                }
    
                #text {
                    width: 15rem;
                    text-align: center;   
                }
    
            }
        }


        #generatedPasswordWrapper{
            display: flex;
            border-top: 1px solid #cbcbcb;
            height: 8rem;
            margin: 0 3rem;
            margin-top: auto;
            flex-direction: column;
            gap: 1rem;

            #passwordWrapper {
                display: flex;
                align-items: center;
                gap: 2rem;
                margin-top: 1rem;

                #password {
                    font-size: 1.5rem;
                    margin-left: 0;
                }

                #hint{
                    font-size: 1.2rem;
                    opacity: .7;
                }

                #actionIcon{
                    display: flex;
                    cursor: pointer;
                    margin-left: auto;
                    height: 2.2rem;

                    ::selection {
                        color: none;
                        background: none;
                    }

                    ::-moz-selection {
                        color: none;
                        background: none;
                    }

                    .figmaIcon{
                        -webkit-touch-callout: none; /* iOS Safari */
                        -webkit-user-select: none; /* Safari */
                        -khtml-user-select: none; /* Konqueror HTML */
                        -moz-user-select: none; /* Old versions of Firefox */
                        -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
                        height: 1.8rem;
                        margin-top: 0.25rem;
                    }
                }
            }

            #passStrength{
                display: flex;
            }
        }
               
    }

}


@media all and (max-width: 900px), (max-height: 700px) {
    
    #mainTitle{
        font-size: 1.5rem;
        line-height: 3rem;
    }

    #illustrationWrapper{
        display: none !important;
    }

    #applicationWrapper{
        width: 80vw !important;
        height: 65vh !important;
        overflow: auto;
    }

    #passwordWrapper{
        flex-direction: column-reverse;
        margin-top: -1rem;

        #password, #hint{
            font-size: 1.25rem !important;
            max-width: 75vw;
            overflow: auto;
        }
    }

    #passStrength{
        justify-content: center;
    }

    #actionIcon{
        transform: scale(.6);
        margin: auto !important;
        margin: -1rem !important;
        height: auto;
    }

}