<div id="randomPassGenWrapper">

    <!-- Component header on top of the main box -->
    <div id="componentHeader">
        <span id="securityImage">
            <img src="../../../assets/icons/security.svg" style="height: 2rem;">
        </span>
        <span id="mainTitle">
            Random Password Generator
        </span>
        <span id="developerName">
            by aadway
            <img src="../../../assets/icons/linkedin.svg" (click)="openLinkedIn()">
        </span>
    </div>


    <!-- Main white box where the application runs -->
    <div id="applicationWrapper">

        <div id="configurationWrapper">

           <div id="settings">
               
                <!-- Password length slider -->
                <div id="sizeSliderWrapper">

                    <span class="stepHeader">
                        Place the slider at the required size for your password
                    </span>

                    <div id="sliderWrapper">

                        <mat-slider
                            max="30"
                            min="1"
                            step="1"
                            thumbLabel="true"
                            tickInterval="1"
                            color="primary"
                            [formControl]="sizeForm"
                        ></mat-slider>

                        <div id="currentSize">
                            <span>
                                {{sizeForm.value}}
                            </span>
                        </div>

                    </div>

                </div>

                <!-- Configure settings for the types of characters -->
                <div id="toggleSlidersWrapper">
                    
                    <span class="stepHeader">
                        Toggle the security measures you want your password to adopt
                    </span>

                    <div id="configurations">

                        <form [formGroup]="configurationForm">

                            <mat-slide-toggle color="primary" formControlName="lowerCase">
                                Includes lower case alphabet
                            </mat-slide-toggle>

                            <mat-slide-toggle color="primary" formControlName="upperCase">
                                Includes upper case alphabet
                            </mat-slide-toggle>

                            <mat-slide-toggle color="primary" formControlName="number">
                                Includes number
                            </mat-slide-toggle>

                            <mat-slide-toggle color="primary" formControlName="specialCharacter">
                                Includes special character
                            </mat-slide-toggle>
                    
                        </form>
                        
                    </div>

                </div>

           </div>

           <div id="illustrationWrapper">

            <img src="../../../assets/illustrations/securityGuy.svg">

            <span id="text">
                Configure your settings and get a highly secure randomly generated password on the go.
            </span>

        </div>

        </div>

        <div id="generatedPasswordWrapper">

            <div id="passwordWrapper" >

                <!-- Main password -->
                <span id="password" *ngIf="generatedPassword && generatedPassword.length">
                    {{generatedPassword}}
                </span>

                <!-- Invalid password hints -->
                <span id="hint" *ngIf="(!generatedPassword || !generatedPassword.length)">
                    
                    <ng-container *ngIf="!neededCharTypes || !neededCharTypes.size">
                        You need to <i><strong>at least</strong></i> select one type of character
                    </ng-container>

                    <ng-container *ngIf="neededCharTypes.size > sizeForm.value">
                        Cannot create a password with its size lesser than required character types
                    </ng-container>

                </span>

                <!-- Will animate through these 3 steps once copied -->
                <div id="actionIcon" *ngIf="generatedPassword && generatedPassword.length">

                    <img *ngIf="actionIconState.copy" src="../../../assets/icons/reload.svg"
                    (click)="refresh()"
                    style="margin-left: 2rem; margin-right: 1rem;"
                    matTooltip="Reload"
                    matTooltipClass="blueToolTip"
                    matTooltipPosition="above"
                    matTooltipShowDelay="1000"
                    class="figmaIcon">

                    <img *ngIf="actionIconState.copy" src="../../../assets/icons/copy.svg"
                    [cdkCopyToClipboard]="generatedPassword"
                    (click)="animateIcon()"
                    matTooltip="Copy"
                    matTooltipClass="blueToolTip"
                    matTooltipPosition="above"
                    matTooltipShowDelay="1000"
                    class="figmaIcon">

                    <mat-spinner *ngIf="actionIconState.spinner" diameter="28"  color="primary"></mat-spinner>

                    <img *ngIf="actionIconState.done" src="../../../assets/icons/done.svg" class="figmaIcon">

                </div>

            </div>


            <!-- Strength of the password -->
            <div id="passStrength">

                <span>
                    Stength: 
                </span>
                &nbsp;
                <span [ngSwitch]="passwordStrength">
                    <p *ngSwitchCase="'Strong'" style="font-weight: 500; color: #00842e;">
                        Strong
                    </p>
                    <p *ngSwitchCase="'Medium'" style="font-weight: 500; color: #c9a000;">
                        Medium
                    </p>
                    <p *ngSwitchCase="'Weak'" style="font-weight: 300; color: #ff004b;">
                        Weak
                    </p>
                    <p *ngSwitchDefault  style="font-weight: 300; color: #ff004b;">
                        Please don't do this to yourself
                    </p>
                </span>

            </div>

        </div>

    </div>

</div>